{% extends "base.html" %} {% block header %}
<link
  href="https://cdn.jsdelivr.net/npm/summernote@0.8.15/dist/summernote-bs4.min.css"
  rel="stylesheet"
/>
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.15/dist/summernote-bs4.min.js"></script>
<script>
  $(document).ready(function() {
    $("#id_description").summernote({
      placeholder: "상품설명",
      height: 100
    });
  });
</script>
{% endblock %} {% block contents %}
<div class="row mt-5">
  <div class="col-12 text-center">
    <h1>상품등록</h1>
  </div>
</div>
<div class="row mt-5">
  <div class="col-12">
    {{ error }}
  </div>
</div>
<div class="row mt-5">
  <div class="col-12">
    <form method="POST" action=".">
      {% csrf_token %} {% for field in form %}
      <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {% ifequal field.name 'description' %}
        <textarea
          class="form-control"
          name="{{ field.name }}"
          id="{{ field.id_for_label }}"
        ></textarea>
        {% else %}
        <input
          type="{{ field.field.widget.input_type }}"
          class="form-control"
          id="{{ field.id_for_label}}"
          placeholder="{{ field.label }}"
          name="{{ field.name }}"
        />
        {% endifequal %}
      </div>
      {% if field.errors %}
      <span style="color: red">{{ field.errors }}</span>
      {% endif %} {% endfor %}
      <button type="submit" class="btn btn-primary">상품등록</button>
    </form>
  </div>
</div>
{% endblock %}
